.block {
  width: 200px;
  height: 200px;
  background-color: blue;
  color: yellow;
}
.redd {
  background-color: red;
}

.inline1 {
  background-color: aqua;
}
.inline2 {
  background-color: rgb(0, 255, 4);
  margin: 20px;
}
.inline3 {
  background-color: pink;
}
.inline4 {
  background-color: yellowgreen;
  margin-top: 20px;
}
